#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
}

html, body{
  min-height: 100vh;
}

.header {
  position: relative;  /*anchors for nav*/
  padding: 1rem 2rem 0;
}

header h1  {
  text-align: center;
  font-weight: bold; 
  text-decoration: underline;
  text-decoration-color: rgb(226, 220, 220); 
  text-decoration-thickness: 0.2rem;
  margin-top: 3rem;
  
}

.nav  {
  position: absolute;
  top: 1rem;
  right: 2rem;
  display: flex;
  gap: 2rem;
  padding-right: 5rem;
}

h2 {
  text-align: center;
  margin-top: 0;
  padding-top: 0rem;
  padding: 0;
}

.clients,
.newClient  {
  margin: 0 auto;
  border: 0.1rem solid rgb(209, 202, 202);
  border-radius: 5%;
  padding: 1rem 2rem 5rem;
}

.clients{
  max-width: 150px;
  padding-left: 130px;
  font-size: 1.5rem;
  color: blue;
}
.new .clients{
  max-width: 550px;
}

.client-sort  {
  text-align: center;
  padding: 2rem;
}

.client-sort a{
  padding: 0 1rem;
  color: purple;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  gap: 0.6rem;
  padding-top: 2rem;
}

form label  {
  display: inline-block;
  width: 12rem;
  text-align: right;
}

form input  {
  margin: 0.2rem 0 0.5rem 0.75rem;
  padding: 0.2rem 0.75rem;
}

.clients li  {
  color: blue;
}

button{
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: 0.1rem solid black;
  border-radius: 3%;
}